<h1>Page#edit</h1>

<%= form_for @page, :url => @page.to_s do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :path %>
    <%= f.text_field :path, :readonly => true %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :markup %>
    <%= collection_select :page, :markup_id, Markup.all, :id, :title %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, :size => "60x12" %>
  </p>
  <p>
    <%= f.label :is_private %>
    <%= f.check_box :is_private %>
  </p>
  <p>
    <%= f.label :is_protected %>
    <%= f.check_box :is_protected %>
  </p>
  <p>
    <%= f.label :commit_message %>
    <%= f.text_field :commit_message %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
