<% if @preview %>
  <% content_for :title, "Preview of \"#{@page.title}\"" %>
  <div class="preview">
    <h2>Preview</h2>
    <div class="previewnote">
      <p>
        <b>Remember that this is only a preview.</b>
        Your changes have not yet been saved!
      </p>
    </div>
    <div class="page_body"><%= render_markup(@page.markup, @page.body).html_safe %></div>
  </div>
<% else %>
  <% content_for :title, "Editing #{@page.title}" %>
<% end %>

<%= form_for @page, :url => "#{@page}?keep=edit" do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :path %>
    <%= f.text_field :path, :readonly => true %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :markup %>
    <%= collection_select :page, :markup_id, Markup.all, :id, :title %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, :size => "60x12" %>
  </p>
  <p>
    <%= f.label :theme %>
    <%= collection_select :page, :theme_id, Theme.all, :id, :title, :prompt => true %>
  </p>
  <p>
    <%= f.label :is_private %>
    <%= f.check_box :is_private %>
  </p>
  <p>
    <%= f.label :is_protected %>
    <%= f.check_box :is_protected %>
  </p>
  <p>
    <%= f.label :commit_message %>
    <%= f.text_field :commit_message %>
  </p>
  <p>
    <%= f.submit "Save page" %>
    <%= f.submit "Show preview" %>
  </p>
<% end %>
