<% content_for :title, "Revision history of \"#{@page.title}\"" %>
<table class="history" cellspacing="0" cellpadding="0">  
  <tbody>
  <% for @page in @history %>
    <tr>
      <td class="checkbox">
        <input id="page_<%= @page.id %>" name="versions[]" type="checkbox" value="<%= @page.id %>" />
      </td>
      <td class="author">
        <span class="username">
          <%= link_to @page.editor, @page.editor.homepage %>
        </span>
      </td>
      <td class="commit-name">
        <span class="time-elapsed"><%= @page.created_at.strftime("%b %e, %Y") %></span>
        <%= @page.commit_message %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>