<h1>Page#show</h1>
<p>Path: <%= @page.path %></p>
<p>Title: <%= @page.title %></p>
<p>Body: <%= @page.body %></p>
<p>Editor: <%= @page.editor %></p>
<p>Revision: <%= @page.revision %></p>
<p>Last update: <%= @page.updated_at %></p>
<%= hello %>
