<h1>Page#show</h1>
<p>Path: <%= @page.path %></p>
<p>Title: <%= @page.title %></p>
<p>Editor: <%= @page.editor %></p>
<p>Revision: <%= @page.revision %></p>
<p>Last update: <%= @page.updated_at %></p>
<div class="page_body"><%= render_markup(@page.markup, @page.body) %></div>
