<% content_for :title, "Upload file" %>

<%= form_for @page, :url => @page.to_s, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :file %>
    <%= file_field_tag :somefile %>
  </p>
  <p>
    <%= f.label :is_private %>
    <%= f.check_box :is_private %>
  </p>
  <p>
    <%= f.label :is_protected %>
    <%= f.check_box :is_protected %>
  </p>
  <p>
    <%= f.label :commit_message %>
    <%= f.text_field :commit_message %>
  </p>
  <p>
    <%= f.submit "Upload file" %>
  </p>
<% end %>
