<% content_for :title, "Change password" %>

<p>
  <b>You are logged in as <%= current_user %>.</b>
</p>

<% form_tag '/site/password' do %>
<p>
  <%= label_tag :new_password %>
  <%= password_field_tag :new_password %>
</p>
<p>
  <%= label_tag :confirm_password %>
  <%= password_field_tag :confirm_password %>
</p>
<p>
  <%= submit_tag "Update my password" %>
</p>
<% end %>