<!DOCTYPE html>
<html>
<head>
  <title>上海交通大学ACM班 - <%= yield :title %></title>
  <meta charset="UTF-8"/>
  <meta name="author" content="ACM Infrastructure Working Group"/>
  <meta name="description" content="上海交通大学ACM班, <%= yield :title %>"/>
  <%= stylesheet_link_tag :all %>
  <%= theme_stylesheet_link_tag :main %>
</head>
<body>
  <div id="main">
    <div id="heading">
      <div class="inner">
        <h1>
          <a href="<%= root_path %>">
            <%= theme_image_tag "head-logo.png", :title => "上海交通大学ACM班" %>
          </a>
        </h1>
        <div id="nav" class="nav">
          <div class="navlist">
            <ul class="nav">
              <li><a href="<%= root_path %>">首页</a></li>
              <li class="<%= nav_active_tag '班级介绍' %>"><a href="/班级介绍">班级介绍</a></li>
              <li class="<%= nav_active_tag '招生信息' %>"><a href="/招生信息">招生信息</a></li>
              <li class="<%= nav_active_tag 'courses' %>"><a href="/courses">课程中心</a></li>
              <li class="<%= nav_active_tag '科研成果' %>"><a href="/科研成果">科研成果</a></li>
              <li class="<%= nav_active_tag '课余生活' %>"><a href="/课余生活">课余生活</a></li>
              <li class="<%= nav_active_tag 'icpc' %>"><a href="/icpc">ACM竞赛</a></li>
            </ul>
          </div><!-- END .navlist -->
        </div><!-- END #nav -->
      </div><!-- END .inner -->
    </div><!-- END #heading -->

    <div class="subpage" id="content">
      <div class="inner-page">
        <div class="newspaper">
          <div class="singlecolumn">
            <div class="zh_page_body <%= yield :markup %>">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- END #main -->

  <div id="footer">
    <p class="part-1">Powered by <a class="b" target="_blank" href="http://github.com/oipn4e2/Enterprise-Wiki">Enterprise Wiki</a></p>
    <p class="part-2">Copyright &copy; 2011 <a href="<%= root_path %>">ACM Class</a>. All rights reserved.</p>
  </div>

  <%= yield :mathjax %>
</body>
</html>
