<!DOCTYPE html>
<html>
<head>
  <title>上海交通大学ACM班 - <%= yield :title %></title>
  <meta charset="UTF-8"/>
  <meta name="generator" content="Enterprise Wiki"/>
  <meta name="author" content="ACM Infrastructure Working Group"/>
  <meta name="description" content="上海交通大学ACM班, <%= yield :title %>"/>
  <%= theme_stylesheet_link_tag "main" %>
  <%= theme_stylesheet_link_tag "topic_nav" %>
  <%= stylesheet_link_tag "pygments" %>
</head>
<body>
  <div id="main">
    <div id="heading">
      <div class="inner">
        <h1>
          <a href="<%= root_path %>">
            <%= theme_image_tag "head-logo.png", :title => "上海交通大学ACM班" %>
          </a>
        </h1>
        <div id="nav" class="nav">
          <div class="navlist">
            <ul class="nav">
              <li><a href="<%= root_path %>">首页</a></li>
              <li class="<%= nav_active_tag '班级介绍' %>"><a href="/班级介绍">班级介绍</a></li>
              <li class="<%= nav_active_tag '招生信息' %>"><a href="/招生信息">招生信息</a></li>
              <li class="<%= nav_active_tag 'courses' %>"><a href="/courses">课程中心</a></li>
              <li class="<%= nav_active_tag '科研成果' %>"><a href="/科研成果">科研成果</a></li>
              <li class="<%= nav_active_tag '课余生活' %>"><a href="/课余生活">课余生活</a></li>
              <li class="<%= nav_active_tag 'icpc' %>"><a href="/icpc">ACM竞赛</a></li>
            </ul>
          </div><!-- END .navlist -->
        </div><!-- END #nav -->
      </div><!-- END .inner -->
    </div><!-- END #heading -->

    <div class="subpage" id="content">
      <div class="inner-page">
        <div class="newspaper">
          <div id="blog-post">
            <!-- TODO breadcrumb -->
            <div class="post-content">
              <div class="zh_page_body <%= yield :markup %>">
                <%= yield %>
              </div>
            </div>
            <div class="post-meta">
              <!-- TODO navigation -->
              <div class="topic_nav">
              <% if topic_is? '班级介绍' %>
              <h3>班级介绍</h3>
              <ul>
                <li><a href="/班级介绍/大事记">大事记</a></li>
                <li><a href="/班级介绍/教育理念">教育理念</a></li>
                <li><a href="/班级介绍/任课教师">任课教师</a></li>
                <li><a href="/班级介绍/学子风采">学子风采</a></li>
                <li><a href="/班级介绍/班级标志">班级标志</a></li>
              </ul>
              <% elsif topic_is? '招生信息' %>
              <h3>招生信息</h3>
              <ul>
                <li><a href="/招生信息/招生简章">招生简章</a></li>
                <li><a href="/招生信息/常见问题">常见问题</a></li>
                <li><a href="/#">在线提问</a></li>
              </ul>
              <% elsif topic_is? 'courses' %>
              <h3>课程中心</h3>
              <ul>
                <li><a href="/courses/培养计划">培养计划</a></li>
                <li><a href="/courses/教学实践">教学实践</a></li>
                <li><a href="/courses/网上课堂">网上课堂</a></li>
              </ul>
              <% elsif topic_is? '科研成果' %>
              <h3>科研成果</h3>
              <ul>
                <li><a href="/科研成果/实验室">实验室</a></li>
                <li><a href="/科研成果/论文发表">论文发表</a></li>
              </ul>
              <% elsif topic_is? '课余生活' %>
              <h3>课余生活</h3>
              <ul>
                <li><a href="/课余生活/联谊会">联谊会</a></li>
                <li><a href="/课余生活/学术节">学术节</a></li>
                <li><a href="/课余生活/体育节">体育节</a></li>
              </ul>
              <% elsif topic_is? 'icpc' %>
              <h3>ACM-ICPC竞赛</h3>
              <ul>
                <li><a href="/icpc/校队介绍">校队介绍</a></li>
                <li><a href="/icpc/竞赛成绩">竞赛成绩</a></li>
                <li><a href="/icpc/赛场照片">赛场照片</a></li>
                <li><a href="/icpc/系列讲座">系列讲座</a></li>
              </ul>
              <% else %>
                <!-- TODO -->
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- END #main -->

  <div id="footer">
    <p class="part-1">
      Powered by <a class="b" target="_blank" href="http://github.com/oipn4e2/Enterprise-Wiki">Enterprise Wiki</a>
      |
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path)  %>
      <% end %>
    </p>
    <p class="part-2">
      Copyright &copy; 2011 <a href="<%= root_path %>">ACM Class</a>. All rights reserved.
    </p>
  </div>

  <%= yield :mathjax %>
</body>
</html>
