<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title><%= yield(:title) || "Enterprise Wiki" %></title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "style_blue" %>
  <%= stylesheet_link_tag "pygments" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header_wrap">
    <div id="header">
      <%= image_tag "header_gradient_blue.jpg", :class => "gradient" %>
      <a href="<%= root_path %>">
        <%= image_tag "logo_blue.png", :class => "logo" %>
      </a>
      
      <ul class="navigation">
        <li class="<%= page_item_tag nil %>">
          <a href="/<%= params[:path] %>" title="View the content page">page</a>
        </li>
        <li class="<%= page_item_tag :edit %>">
          <a href="/<%= params[:path] %>?do=edit" title="Edit this page">edit</a>
        </li>
        <li class="<%= page_item_tag :history %>">
          <a href="/<%= params[:path] %>?do=history" title="Past revisions of this page">history</a>
        </li>
      </ul><!-- END navigation -->
      
    </div><!-- END header -->
  </div><!-- END header_wrap -->
  
  <!-- TODO add notices and alerts -->

  <div id="page_wrap">
    <div id="page" class="clearfix">
      <div id="content">
        <h1><%= yield :title %></h1>
        <div class="post_wrap">
          <div class="post">
            <%= yield %>
          </div><!-- END .post -->
        </div><!-- END .post-wrap -->
      </div><!-- END #content -->
    </div><!-- END #page -->
  </div><!-- END #page_wrap -->

  <div class="clear"></div>

  <div id="footer_wrap">
    <div id="footer">
      <p class="left">Powered by <a href="http://github.com/oipn4e2/Enterprise-Wiki">Enterprise Wiki</a></p>
      <p style="text-align:right">Copyright &copy; 2011 Xiao Jia. All rights reserved.</p>
    </div><!-- END #footer -->
  </div><!-- END #footer_wrap -->
  
  <%= yield :mathjax %>
</body>
</html>